<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<%- partial('_partial/topbar') %>
<main>
    <%- partial('_partial/author') %>
    <%- partial('_partial/signature') %>
    <%- partial('_partial/menu') %>
    <%- body %>
    <%- partial('_partial/footer') %>
</main>
</html> 